name: Update ISTAT Regioni

on:
  schedule:
    - cron: "0 3 1 */3 *"
  workflow_dispatch:

jobs:
  update-data:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: pip install requests lxml

      - name: Run script
        run: python script_regioni.py

      - name: Commit and push if changed
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add regioni.json
          git diff --quiet && git diff --staged --quiet || git commit -m "Aggiornamento automatico regioni.json"
          git push
